*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 769px;
    font-family: 'Roboto', sans-serif;
}
/*  Utility */
ul li a{
    text-decoration: none;
    color: white;
}
section{
    width: 100%;
}
.f-align{
    display: flex;
    align-content: center;
    align-items: center;
}
/*  /Utility */

/* Structure */
    /* Header */
#header > #header-top{
    height: 60px;
    background-color: #0088cc;
    color: white;
    font-size: 16px;
}
#header > #header-middle{
    min-height: 80px;
    background-color: white;
}
#header > #header-bottom{
    min-height: 40px;
    background-color: white;
}
    /* /Header */
    /* Main */
#main > #main-top{
    min-height: 430px;
    background-color: #f7f7f7;
}
#main > #main-middle{
    min-height: 370px;
    background-color: #f7f7f7;
}
#main > #main-scrollbar{
    min-height: 100px;
    background-color: #0088cc;
}
#main > #main-bottom{
    min-height: 900px;
    background-color: #f7f7f7;
}
#footer > #footer-top{
    min-height: 270px;
    background-color: #212529;
}
#footer > #footer-bottom{
    min-height: 70px;
    background-color: #1c2023;
}
/* /Structure */
/* Header-top */
#header-top .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
#header-top .jingle{
    height: 100%;
    margin-right: 10px;
}
#header-top ul.menu{
    height: 100%;
}
#header-top ul.menu li{
    list-style: none;
    margin: 0 10px;
    text-transform: uppercase;
}
/* /Header-top */
