*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-width: 750px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
/***  Utility ***/
a,
ul li a{
    text-decoration: none;
    color: white;
}
section{
    width: 100%;
}
.container{
    height: 100%;
    max-width: 80%;
    margin: 0 auto;
}
.f-align{
    display: flex;
    align-content: center;
    align-items: center;
}
.btn-big{
    width: 200px;
    height: 50px;
    color: white;
    background-color: #212529;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    margin: 0 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.btn-big:hover{
    background-color: #32383e;
}
.btn-small{
    height: 30px;
    padding: 5px 10px;
    color: white;
    background-color: black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;
}
.btn-small:hover{
    background-color: #212529;
}
.btn-white{
    color: #888;
    border: 1px solid #bfbfbf;
    border-bottom-color: #333;
    border-radius: 5px;
    padding: 6px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}
.btn-white:hover{
    background-color: #f7f7f7;
}
/***  /Utility ***/

/*** Structure ***/
    /*** Header ***/
#header > #header-top{
    height: 50px;
    background-color: #0088cc;
    color: white;
}
#header > #header-middle{
    height: 100px;
    background-color: white;
    border-bottom: 1px solid #f7f7f7;
}
#header > #header-bottom{
    height: 60px;
    background-color: white;
}
    /*** /Header ***/
    /*** Main ***/
#main > #main-top{
    background-color: #f7f7f7;
}
#main > #main-middle{
    min-height: 370px;
    background-color: white;
}
#main > #main-scrollbar{
    height: 150px;
    background-color: #0088cc;
}
#main > #main-bottom{
    min-height: 900px;
    background-color: white;
}
#footer > #footer-top{
    min-height: 270px;
    background-color: #212529;
}
#footer > #footer-bottom{
    height: 100px;
    background-color: #1c2023;
}
.row{
    height: 100%;
}
h4{
    text-transform: uppercase;
    margin-bottom: 20px;
    color: black;
    font-stretch: condensed;
}
/*** /Structure ***/
/*** Header-top ***/
#header-top .container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
#header-top .jingle{
    height: 100%;
    margin-right: 25px;
}
#header ul.menu{
    height: 100%;
}
#header ul.menu li{
    list-style: none;
    margin-right: 25px;
    text-transform: uppercase;
}
/*** /Header-top ***/
/*** Header-middle ***/
#header-middle .logo{
    height: 100%;
}
#header-middle .logo > img{
    height: 50px;
}
/*** /Header-middle ***/
#header-bottom{
    color: #444;
}
#header-bottom .container{
    justify-content: space-between;
}
#header-bottom ul.menu li{
    margin-right: 40px;
}
#header-bottom ul.menu a{
    font-weight: 600;
    color: #444;
}
#header-bottom ul.menu a:hover{
    color: #0088cc;
}
#header-bottom .search i.fa-search{
    margin-right: 20px;
}
#header-bottom .search input{
    border: 0;
    border-right: 1px solid  #f7f7f7;;
    font-size: 16px;
    height: 25px;
    width: 200px;
    margin-right: 10px;
}
/*** /Header ***/
/*** Main-top ***/

#main-top .row{
    padding: 30px 0;
}
/*** Component - CARD ***/
 .card{
    padding-right: 20px;
    padding-bottom: 20px;
    color: white;
}
 .card .card-content{
    position: relative;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 .card .card-content .filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.6;
}
.card .card-content:hover .filter{
    opacity: 1;
}
.card .card-content .floating-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 20px;
}
 .card .card-content .tag{
    display: inline-block;
    width: fit-content;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #0088cc;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
}
 .card .card-content .title{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 5px;
}
 .card .card-content .description{
    color: #8d8f91;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
}
/*** Component - CARD ***/

    /*** /main-top ***/
    /*** main-middle ***/
#main-middle .row{
    padding: 40px 0;
}
/* Popular and Recent */
#main-middle .post{
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid #f7f7f7;
}
#main-middle .post img{
    height: 60px;
    width: 60px;
}
#main-middle .post .content {
    padding-left: 20px;
    text-transform: capitalize;
}
#main-middle .post .content .date{
    color: #b7b7b7;
    margin-top: 10px;
}
/*** /Popular and Recent */
/* Featured post */
#main-middle .card {
    padding-bottom: 40px;
}
#main-middle .card .card-content{
    height: 200px;
}
#main-middle .feat-post{
    display: flex;
}
#main-middle .feat-post img{
    width: 150px;
    height: 150px;
}
#main-middle .feat-post .content{
    padding: 15px;
}
#main-middle .feat-post .content .author{
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px;
}
#main-middle .feat-post .content .overview{
    color: #888;
    line-height: 1.5;
}
    /*** /Featured post ***/
/*** /#main middle ***/
/*** #main scrollbar ***/
#main-scrollbar .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#main-scrollbar .scroll-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
[class*="fa-chevron-"]{
    cursor: pointer;
    color: #444;
    font-size: 22px;
}
    /*** /#main scrollbar ***/
    /*** #main-bottom ***/
        /*** #articles***/
#main-bottom .row{
    padding: 60px 0;
}
#main-bottom .row #articles{
    padding-right: 30px; 
}
#main-bottom .post > img{
    width: 100%;
}
#main-bottom .content{
    display: flex;
    padding: 30px 0;
}
#main-bottom .article{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px;
    margin-left: 20px;
}
#main-bottom .article .title{
    font-size: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 15px;
}
#main-bottom .article .text{
    font-size: 16px;
    line-height: 1.5;
    color: #888;
    margin-bottom: 15px;
    text-align: justify;
}
#main-bottom .article .more{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-transform: capitalize;
}
#main-bottom .article .more .tags{
    display: flex;
    flex-wrap: wrap;
    color: #888;
}
#main-bottom .article .more .tags span,
#main-bottom .article .more .tags i{
    margin-right: 10px;
}
#main-bottom .article .more .tags a{
    text-decoration: none;
    color: #0088cc
}
#main-bottom .date{
    width: 40px;
    height: 80px;
}
#main-bottom .date .day{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% / 4 * 3);
    background-color: #f7f7f7;
    color: black;
    font-weight: 800;
    text-transform: capitalize;
    font-size: 16px;
}
#main-bottom .date .month{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100% / 4);
    background-color: black;
    color: #f7f7f7;
    text-align: center;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 12px;
}
/*** page selector ***/
.pages{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.page-selector{
    display: flex;
    width: 160px;
    height: 40px;
    background-color: white;
}
.page-selector i{
    display: flex;
    width: calc(100%/5);
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 2px;
    color: #0088cc;
    cursor: pointer;
}
.page-selector i:hover{
    background-color: #0088cc;
    color: white;
}
            /*** /page selector ***/
        /*** /#articles***/
        /*** aside ***/
#socials .social .post{
    display: flex;
    padding-bottom: 20px;
}
#socials .social .post i{
    margin-right: 10px;
    font-size: 20px;
}
#socials .social .content{
    display: block;
    padding: 0;
} 
#socials .social .content .text{
    line-height: 1.5;
    margin-bottom: 10px;
}
#socials .social .content .date{
    color: #0088cc;
    width: auto;
    height: auto;
}

        /*** /aside ***/
    /*** /#main-bottom ***/
/*** #/main ***/

/*** #footer ***/
    /*** #footer-top***/
#footer-top .row{
    padding: 50px 0;
}
/* about the blog */
#footer-top .foot{
    padding-right: 50px;
}
#footer-top .categories{
    padding-right: 0;
}
#footer-top .foot h5{
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#footer-top .foot .text{
    color: #777;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}
#footer-top .foot .view-more,
#footer-top .foot .view-more i{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
#footer-top .foot .view-more i{
    margin-left: 5px;
}
/* /about the blog */
/* recent posts */

#footer-top .foot .post{
    display: flex;
    padding-bottom: 20px;
}
#footer-top .foot .post img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
#footer-top .foot .post .content{
    padding-left: 10px;
}
#footer-top .foot .post .content .text{
    color: #f7f7f7;
    font-weight: 400;
    text-align: justify;
}
#footer-top .foot .date{
    color: #777;
}
/* /recent posts */
/* recent comments */
#footer-top .foot .comment{
    padding-bottom: 25px;
}
#footer-top .foot .comment .text{
    margin-bottom: 20px;
}
#footer-top .foot .comment .text i{
    color: #0088cc;
    font-size: 11px;
    margin-right: 5px;
}
#footer-top .foot .comment .text .article{
    color: #0088cc;
    font-weight: 500;
    line-height: 1.5;
}
#footer-top .foot .comment .text .author{
    font-weight: 600;
    color: #f7f7f7;
}
/* /recent comments */
/* categories */
#footer-top .foot .wrap{
    display: flex;
    flex-wrap: wrap;
}
    /* /categories */
/*** /#footer-top ***/
/*** #footer-bottom ***/
#footer-bottom{
    font-size: 12px;
    font-weight: 500;
    color: #777;
    text-transform: capitalize;
}
#footer-bottom .footer-left,
#footer-bottom .footer-right{
    height: 100%;
}
#footer-bottom .footer-left img.logo{
    height: 35px;
    margin-right: 10%;
}
#footer-bottom .footer-right{
    justify-content: flex-end;
}
#footer-bottom .footer-right .list{
    width: max-content;
    margin-left: 2%;
    cursor: pointer;
}
#footer-bottom .footer-right .list i{
    margin-right: 5px;
    font-size: 12px;
}
    /*** #footer-bottom ***/
/*** #footer ***/



